<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/images/favicon.ico" />

    <title>Verification</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
  </head>

  <body class="text-center">
    <form class="form-signin" method="POST" action="/verify">
      <img
        class="mb-4"
        src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
        alt=""
        width="72"
        height="72"
      />

      <br/>

      <h1 class="h3 mb-3 font-weight-normal">Please enter the Token</h1>
      <br />
      <label for="inputEmail" class="sr-only">Token</label>
      <input
        type="token"
        id="inputToken"
        class="form-control"
        placeholder="Token"
        required
        autofocus
      />

      <div class="checkbox mb-3">
        <label>
          <!-- <input type="checkbox" value="remember-me" /> Remember me -->
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Submit
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
  </body>
</html>
